.btn {
    display: inline-block;
    background-color: rgb(35, 59, 245);
    color: white;
    padding: 14px 40px;
    border-radius: 40px;
    text-transform: capitalize;
    text-decoration: none !important;
    cursor: pointer;
    border-style: none;
}
