.btn {
    font-size: 16px;
    line-height: 20px;
    padding: 8px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    border-color: #00f;
    background-color: #015cda;
    color: #fff;
    cursor: pointer;
}

.btn:hover {
    background-color: #36f;
    background: rgb(2,0,36);
    background: -moz-linear-gradient(149deg, rgba(2,0,36,1) 0%, rgba(138,80,196,1) 49%, rgba(0,212,255,1) 100%);
    background: -webkit-linear-gradient(149deg, rgba(2,0,36,1) 0%, rgba(138,80,196,1) 49%, rgba(0,212,255,1) 100%);
    background: linear-gradient(149deg, rgba(2,0,36,1) 0%, rgba(138,80,196,1) 49%, rgba(0,212,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00d4ff",GradientType=1);
}