body,
body * {
margin: 0;
padding: 0;
vertical-align: top;
box-sizing: border-box;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #8396d4;
}
.container {
    width: 800px;
    margin-top: 100px;
    margin-left: calc(50%-400px);
}
.left-column {
    width: 40%;
    padding: 40px;
    height: 400px;
    float:left;
    display: inline-block;
    background-color: #008fae;
    background-image: url(../../hill.png);
    color: #fff;
}
.main-title {
    width: 100%;
    color:white;
    font-size: 40px;
    font-weight: normal;
}
.bottom-links {

}
.bottom-links > .link {
    color: #fff;
}
.right-column {
    width: 50%;
    height: 500px;
    display: inline-block;
    float:left;
    padding: 60px;
    background-color: #fff;  
}

.close {

}